name: Test

permissions:
  checks: write

on:
  pull_request:
    branches:
      - main
      - unstable
    paths:
      - ".github/workflows/**"
      - "src/**"
      - "examples/**"
      - "libs/**"
      - "tools/**"
      - "build.zig"
      - "build.zig.zon"

  push:
    branches:
      - main
    paths:
      - ".github/workflows/**"
      - "src/**"
      - "examples/**"
      - "libs/**"
      - "tools/**"
      - "build.zig"
      - "build.zig.zon"

concurrency:
  # Cancels pending runs when a PR gets updated.
  group: ${{ github.head_ref || github.run_id }}-${{ github.actor }}
  cancel-in-progress: true

jobs:
  validation:
    name: Validation
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Zig
        uses: mlugg/setup-zig@v2
      - name: Lint
        run: zig fmt --check .

  build-examples:
    needs: ["validation"]
    strategy:
      fail-fast: false
      matrix:
        os: 
          # FIXME: Problem with x11 in CI (latest ubuntu). But it works on linux
          #- linux-large 
          - macos-13-large
          - windows-large

    runs-on: ${{matrix.os}}
    name: "Build examples"
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      # - if: matrix.os == 'linux-large'
      #   run: sudo apt update && sudo apt install libx11-6

      - name: Install Zig
        uses: mlugg/setup-zig@v2
    
      - name: Build examples
        shell: bash
        run: cd examples/ && zig build