name: Test

permissions:
  checks: write

on:
  pull_request:
    branches:
      - main
      - unstable
    paths:
      - ".github/workflows/**"
      - "src/**"
      - "examples/**"
      - "libs/**"
      - "tools/**"
      - "build.zig"
      - "build.zig.zon"

  push:
    branches:
      - main
    paths:
      - ".github/workflows/**"
      - "src/**"
      - "examples/**"
      - "libs/**"
      - "tools/**"
      - "build.zig"
      - "build.zig.zon"

concurrency:
  # Cancels pending runs when a PR gets updated.
  group: ${{ github.head_ref || github.run_id }}-${{ github.actor }}
  cancel-in-progress: true

jobs:
  validation:
    name: Validation
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Zig
        uses: mlugg/setup-zig@v2
      - name: Lint
        run: zig fmt --check . --exclude libs/

  build-examples:
    needs: ["validation"]
    strategy:
      fail-fast: false
      matrix:
        os: 
          - linux-large 
          - macos-15-large
          - windows-large

    runs-on: ${{matrix.os}}
    name: "Build examples"
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - if: matrix.os == 'linux-large'
        run: sudo ln -s /usr/lib/x86_64-linux-gnu/libX11.so.6 /usr/lib/x86_64-linux-gnu/libX11.so

      - name: Install Zig
        uses: mlugg/setup-zig@v2
    
      - name: Build examples
        shell: bash
        run: cd examples/ && zig build